name: Update Activity
on:
  schedule:
    - cron: '0 * * * *' # Robot jalan tiap 1 jam
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update Recent Activity
        uses: gautamkrishnar/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}